.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:"h h" "n c";

}

.app-wrapper-content {
    background-color: #E3E3CD;
    border: 1px solid #697F90;
}
